<extend name="Base/common" />

<block name="body">
<!-- 页面body钩子，一般用于加载导航后的信息，如图片轮播 -->
{:hook('pageBody', 'widget')}


<div class="container">
	<div class="line-small">
		<div class="xl12 xm12 bg">
			<h2 class="bg-main padding">公司简介</h2>
			<div class="media-inline border border-main padding-little">
				<div class="media media-x clearfix">
					<a class="float-left hidden-l" href="#">
					  <img src="__IMG__/gs1.jpg" class="img-responsive" alt="...">
					</a>
					<a class="show-l hidden-m hidden-s hidden-b" href="#">
					  <img src="__IMG__/gs1.jpg" class="img-responsive" alt="...">
					</a>
					<div class="media-body padding-little">
						<div class="padding-small hidden-m hidden-b show-l show-s"></div>
					  <strong>公司名称</strong>
					  <p>公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="padding-small"></div>
	<div class="line-small">
		<div class="xl12 xm6">
			<h2 class="bg-main padding">服务项目</h2>
			<div class="list-link radius-none border border-main">
				<a href="#" class="active">服务项目一</a>
				<a href="#">服务项目二</a>
				<a href="#">服务项目三</a>
				<a href="#">服务项目四</a>
				<a href="#">服务项目五</a>
				<a href="#">服务项目六</a>
				<a href="#">服务项目七</a>
			</div>
		</div>
		<div class="xl12 xm3">
			<div class="padding-small hidden-m hidden-b show-l hidden-s"></div>
			<h2 class="bg-main padding">公司新闻</h2>
			<ul class="list-group radius-none border border-main">
			  <li><a href="#"><span class="float-right badge">12</span>新闻标题</a></li>
			  <li><a href="#"><span class="float-right">2014-9-9</span>新闻标题</a></li>
			  <li><a href="#"><span class="float-right tag">new</span>新闻标题</a></li>
			  <li><a href="#"><span class="float-right badge">...</span>新闻标题</a></li>
			  <li><a href="#"><span class="float-right">...</span>新闻标题</a></li>
			  <li><a href="#"><span class="float-right tag">...</span>新闻标题</a></li>
			  <li><a href="#"><span class="float-right tag">...</span>新闻标题</a></li>
			</ul>
		</div>
		<div class="xl12 xm3">
			<div class="padding-small hidden-m hidden-b show-l hidden-s"></div>
			<h2 class="bg-main padding">行业动态</h2>
			<ul class="list-group radius-none border border-main">
			  <li><a href="#"><span class="float-right badge">...</span>新闻标题</a></li>
			  <li><a href="#"><span class="float-right">...</span>新闻标题</a></li>
			  <li><a href="#"><span class="float-right tag">...</span>新闻标题</a></li>
			  <li><a href="#"><span class="float-right badge">...</span>新闻标题</a></li>
			  <li><a href="#"><span class="float-right">...</span>新闻标题</a></li>
			  <li><a href="#"><span class="float-right tag">99</span>新闻标题</a></li>
			  <li><a href="#"><span class="float-right tag">...</span>新闻标题</a></li>
			</ul>
		</div>
	</div>
	<div class="padding-big-top"></div>
	<div class="line-small border border-main">
		<h2 class="bg-main padding">公司产品</h2>
		<div class="xl12 xs12 xm12">
			<div class="media media-x">
			  <a class="float-left hidden-l" href="#">
			    <img src="__IMG__/u21_normal.png" class="img-responsive" alt="...">
			  </a>
			  <a class="show-l hidden-m hidden-s hidden-b" href="#">
			    <img src="__IMG__/u21_normal.png" class="img-responsive" alt="...">
			  </a>
			  <div class="media-body">
			  	<div class="padding-small hidden-m hidden-b show-l show-s"></div>
			    <strong>产品名称</strong>
			    <p>产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述</p>
			  </div>
			</div>
			<hr class="bg-main" />
			<div class="media media-x padding">
			  <a class="float-right hidden-l" href="#">
			    <img src="__IMG__/u21_normal.png" class="img-responsive" alt="...">
			  </a>
			  <a class="show-l hidden-m hidden-s hidden-b" href="#">
			    <img src="__IMG__/u21_normal.png" class="img-responsive" alt="...">
			  </a>
			  <div class="media-body">
			  	<div class="padding-small hidden-m hidden-b show-l show-s"></div>
			    <strong>产品名称</strong>
			    <p>产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述</p>
			  </div>
			</div>
			<hr class="bg-main" />
			<div class="media media-x padding">
			  <a class="float-left hidden-l" href="#">
			    <img src="__IMG__/u21_normal.png" class="img-responsive" alt="...">
			  </a>
			  <a class="show-l hidden-m hidden-s hidden-b" href="#">
			    <img src="__IMG__/u21_normal.png" class="img-responsive" alt="...">
			  </a>
			  <div class="media-body">
			  	<div class="padding-small hidden-m hidden-b show-l show-s"></div>
			    <strong>产品名称</strong>
			    <p>产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述</p>
			  </div>
			</div>
			<hr class="bg-main" />
			<div class="media media-x padding">
			  <a class="float-right hidden-l" href="#">
			    <img src="__IMG__/u21_normal.png" class="img-responsive" alt="...">
			  </a>
			  <a class="show-l hidden-m hidden-s hidden-b" href="#">
			    <img src="__IMG__/u21_normal.png" class="img-responsive" alt="...">
			  </a>
			  <div class="media-body">
			  	<div class="padding-small hidden-m hidden-b show-l show-s"></div>
			    <strong>产品名称</strong>
			    <p>产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述产品描述</p>
			  </div>
			</div>
		</div>
	</div>
	<div class="padding-big-top"></div>
</div>
</block>